# North Korea provocations database

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import altair as alt

In [3]:
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()
pd.set_option("display.max_colwidth", None)

### Download latest version of the database from here

In [4]:
# https://beyondparallel.csis.org/database-north-korean-provocations/

### Import data

In [5]:
src = pd.read_csv("input/Provocations New.csv")

In [6]:
src.columns = (
    src.columns.str.strip()
    .str.lower()
    .str.replace(" ", "_", regex=True)
    .str.replace("(", "", regex=True)
    .str.replace(")", "", regex=True)
    .str.replace("-", "_", regex=True)
)

In [14]:
src.sort_values("date", ascending=False).head()

,date,type,event,description,resources,year,month,day
303,2022-01-11,Missile Provocation,Short-range Missile Launch,"North Korea fired an unidentified ballistic missile from the northern province of Jagang into the sea between Japan and Korea. The missile launch was detected at 7:27am (KST), and traveled more than 700 km at a maximum altitude of 60 km and a top speed of Mach 10.",https://en.yna.co.kr/view/AEN20220111001057325?section=nk/nksection=national/defense,2022,1,Tuesday
302,2022-01-05,Missile Provocation,Short-range Missile Launch,"North Korea fired an unidentified ballistic missile from a site in the province of Jagang towards the sea between Japan and Korea. The missile was detected at 8:10 am (KST). According to North Korean state media, the missile was the Hwasong-8 ""hypersonic"" missile, and it hit a target 700km away.",https://en.yna.co.kr/view/AEN20220105001855325?section=national/defense,2022,1,Wednesday
301,2021-10-19,Missile Provocation,Submarine Launched Ballistic Missile Launch,"North Korea fired a submarine-launched ballistic missile from Sinpo towards the sea between Japan and Korea. The missile was detected at 10:17am (KST), and traveled about 590 km at a top altitude of 60 km.",https://en.yna.co.kr/view/AEN20211019002958325?section=nk/nk,2021,10,Tuesday
300,2021-09-30,Missile Provocation,Anti-aircraft missile Launch,"According to North Korea's Academy of Defense Science, they test-fired a new type of anti-aircraft missile.",https://en.yna.co.kr/view/AEN20211001000553325?section=nk/nk,2021,9,Thursday
299,2021-09-28,Missile Provocation,Short-range Missile Launch,"North Korea fired a missile at around 6:40am (KST) into the sea between Japan and Korea from Toyang-ri, Jagang Province eastward. KCNA announced the missile as a new ""hypersonic missile"" called Hwasong-8.",https://en.yna.co.kr/view/AEN20210929005552325?section=nk/nk,2021,9,Tuesday

### Parse dates

In [8]:
src["date"] = pd.to_datetime(src["date"])
src["year"] = src["date"].dt.year
src["month"] = src["date"].dt.month
src["day"] = src["date"].dt.day
src["day"] = src["date"].dt.day_name()

In [9]:
src.head()

,date,type,event,description,resources,year,month,day
0,1958-02-16,Other Provocation,Hijacking of South Korean Plane,North Korean agents hijacked a South Korean plane en route from Busan to Seoul. Twenty-eight kidnapped passengers taken to Pyongyang were eventually released but eight other passengers were never returned.,"https://goo.gl/Xn9Wr4 The US Military Experience in Korea 1871-1982, page 108.",1958,2,Sunday
1,1959-06-15,Other Provocation,NK Fighter Jets Attack U.S. Navy Plane,Two North Korean jet fighters (MiG) attacked and damaged a U.S. navy patrol plane (P4M Mercator) off the eastern coast of North Korea. The pilot returned safely to base in Japan's Honshu Island.,"https://goo.gl/UFh93r The US Military Experience in Korea 1871-1982, page 109.",1959,6,Monday
2,1960-07-30,Other Provocation,Exchange of Fire and Sinking of NK Vessel,A South Korean destroyer sinks a North Korean patrol vessel off the eastern coast killing at least 14 crewmen. This was the first naval clash between the two Koreas since the signing of the Armistice in 1953.,"https://goo.gl/NEgR7x The US Military Experience in Korea 1871-1982, page 109.",1960,7,Saturday
3,1962-11-20,Other Provocation,Exchange of Fire at DMZ,NK troops attacked a UN observation post 7 miles southeast of Panmunjom and an armed clash ensues.,"http://www.cfr.org/content/publications/attachments/Korean_Peninsula_Clashes.pdf; The US Military Experience in Korea 1871-1982, page 113.",1962,11,Tuesday
4,1963-07-29,Other Provocation,Exchange of Fire at DMZ,A group of at least seven North Korean soldiers crossed the DMZ and killed two U.S. soldiers and wounded one during an attack on a jeep with a machine gun and hand grenade. U.S. and South Korean patrols tracked and killed two of the infiltrators.,"https://goo.gl/8PXjzE; The US Military Experience in Korea 1871-1982, page 113.",1963,7,Monday

In [10]:
src.groupby(["type", "year"]).agg({"date": "count"}).reset_index()

                   type  year  date
0   Missile Provocation  1984     2
1   Missile Provocation  1985     1
2   Missile Provocation  1990     2
3   Missile Provocation  1991     2
4   Missile Provocation  1992     1
5   Missile Provocation  1993     2
6   Missile Provocation  1994     2
7   Missile Provocation  1995     1
8   Missile Provocation  1997     1
9   Missile Provocation  1998     1
10  Missile Provocation  2003     3
11  Missile Provocation  2005     1
12  Missile Provocation  2006     2
13  Missile Provocation  2007     3
14  Missile Provocation  2008     3
15  Missile Provocation  2009     7
16  Missile Provocation  2011     1
17  Missile Provocation  2012     3
18  Missile Provocation  2013     4
19  Missile Provocation  2014    16
20  Missile Provocation  2015    10
21  Missile Provocation  2016    20
22  Missile Provocation  2017    16
23  Missile Provocation  2019    13
24  Missile Provocation  2020     5
25  Missile Provocation  2021     8
26  Missile Provocation  2022     2
27  Nuclear Provocation  2006     1
28  Nuclear Provocation  2009     1
29  Nuclear Provocation  2010     1
30  Nuclear Provocation  2013     2
31  Nuclear Provocation  2016     2
32  Nuclear Provocation  2017     1
33                Other  1964     1
34                Other  1968     1
35                Other  1999     1
36                Other  2003     3
37                Other  2019     1
38    Other Provocation  1958     1
39    Other Provocation  1959     1
40    Other Provocation  1960     1
41    Other Provocation  1962     1
42    Other Provocation  1963     1
43    Other Provocation  1965     1
44    Other Provocation  1966     2
45    Other Provocation  1967    18
46    Other Provocation  1968    16
47    Other Provocation  1969     7
48    Other Provocation  1970     7
49    Other Provocation  1971     4
50    Other Provocation  1973     1
51    Other Provocation  1974     5
52    Other Provocation  1975     4
53    Other Provocation  1976     2
54    Other Provocation  1978     3
55    Other Provocation  1979     1
56    Other Provocation  1980     4
57    Other Provocation  1981     1
58    Other Provocation  1983     5
59    Other Provocation  1984     3
60    Other Provocation  1985     1
61    Other Provocation  1986     2
62    Other Provocation  1987     2
63    Other Provocation  1990     1
64    Other Provocation  1992     1
65    Other Provocation  1993     1
66    Other Provocation  1994     1
67    Other Provocation  1995     3
68    Other Provocation  1996    10
69    Other Provocation  1997     3
70    Other Provocation  1998     4
71    Other Provocation  1999     2
72    Other Provocation  2000     1
73    Other Provocation  2001     5
74    Other Provocation  2002     1
75    Other Provocation  2003     5
76    Other Provocation  2004     1
77    Other Provocation  2009     2
78    Other Provocation  2010     8
79    Other Provocation  2014     5
80    Other Provocation  2015     2
81    Other Provocation  2016     3
82    Other Provocation  2017     2
83    Other Provocation  2019     1
84    Other Provocation  2020     1

In [11]:
missiles = src[src["type"] == "Missile Provocation"]

In [12]:
missiles.sort_values("date", ascending=False).head()

,date,type,event,description,resources,year,month,day
303,2022-01-11,Missile Provocation,Short-range Missile Launch,"North Korea fired an unidentified ballistic missile from the northern province of Jagang into the sea between Japan and Korea. The missile launch was detected at 7:27am (KST), and traveled more than 700 km at a maximum altitude of 60 km and a top speed of Mach 10.",https://en.yna.co.kr/view/AEN20220111001057325?section=nk/nksection=national/defense,2022,1,Tuesday
302,2022-01-05,Missile Provocation,Short-range Missile Launch,"North Korea fired an unidentified ballistic missile from a site in the province of Jagang towards the sea between Japan and Korea. The missile was detected at 8:10 am (KST). According to North Korean state media, the missile was the Hwasong-8 ""hypersonic"" missile, and it hit a target 700km away.",https://en.yna.co.kr/view/AEN20220105001855325?section=national/defense,2022,1,Wednesday
301,2021-10-19,Missile Provocation,Submarine Launched Ballistic Missile Launch,"North Korea fired a submarine-launched ballistic missile from Sinpo towards the sea between Japan and Korea. The missile was detected at 10:17am (KST), and traveled about 590 km at a top altitude of 60 km.",https://en.yna.co.kr/view/AEN20211019002958325?section=nk/nk,2021,10,Tuesday
300,2021-09-30,Missile Provocation,Anti-aircraft missile Launch,"According to North Korea's Academy of Defense Science, they test-fired a new type of anti-aircraft missile.",https://en.yna.co.kr/view/AEN20211001000553325?section=nk/nk,2021,9,Thursday
299,2021-09-28,Missile Provocation,Short-range Missile Launch,"North Korea fired a missile at around 6:40am (KST) into the sea between Japan and Korea from Toyang-ri, Jagang Province eastward. KCNA announced the missile as a new ""hypersonic missile"" called Hwasong-8.",https://en.yna.co.kr/view/AEN20210929005552325?section=nk/nk,2021,9,Tuesday

In [13]:
missiles.groupby(["event"]).agg({"date": "count"}).reset_index()

                                                               event  date
0                                    Anti-Ship Cruise Missile Launch    18
1                                       Anti-aircraft missile Launch     1
2                            Ballistic Missile Launch (type unknown)     2
3   Inter-Continental Ballistic Missile/Short-Range Missile Launches     1
4                         Inter-continental Ballistic Missile Launch     2
5                        Intermediate-range Ballistic Missile Launch    12
6                                      Joint Missile Test with China     1
7                                   Long-range Cruise Missile Launch     2
8                           Long-range Surface-to-Air Missile Launch     1
9                              Medium-range Ballistic Missile Launch    13
10                              Satellite Launch (Other Provocation)     4
11                              Short-range Ballistic Missile Launch    38
12                                        Short-range Missile Launch    28
13                         Short-range Surface-to-Air Missile Launch     1
14                       Submarine Launched Ballistic Missile Launch     8