In [1]:
%load_ext lab_black

state_fips = pd.read_csv("https://gist.githubusercontent.com/dantonnoriega/bf1acd2290e15b91e6710b6fd3be0a53/raw/11d15233327c8080c9646c7e1f23052659db251d/us-state-ansi-fips.csv")

In [30]:
state_fips[' st'].astype(str)

0      1
1      2
2      4
3      5
4      6
5      8
6      9
7     10
8     11
9     12
10    13
11    15
12    16
13    17
14    18
15    19
16    20
17    21
18    22
19    23
20    24
21    25
22    26
23    27
24    28
25    29
26    30
27    31
28    32
29    33
30    34
31    35
32    36
33    37
34    38
35    39
36    40
37    41
38    42
39    44
40    45
41    46
42    47
43    48
44    49
45    50
46    51
47    53
48    54
49    55
50    56
Name:  st, dtype: object

In [31]:
state_fips["code"]=state_fips[' st'].astype(str)

In [32]:
long_fips_states = state_fips[state_fips['code'].str.len()==2]

In [33]:
short_fips_states = state_fips[state_fips['code'].str.len()==1]

In [34]:
short_fips_states["code"]="0"+short_fips_states["code"]

/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_12496/1343958715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_fips_states["code"]="0"+short_fips_states["code"]

In [35]:
all_state_fips = short_fips_states.append(long_fips_states)

In [1]:
import pandas as pd
import numpy as np

%pip install datawrapper

In [ ]:
from datawrapper import Datawrapper

dw = Datawrapper(access_token='FtIwtvFtoGLaRT9a3gjX69PLu4wSuRyKddoOz6SOPw3k9wWyNICMHTkcPhOGCR5Z')

In [51]:
#ACS variable for RNs: B24114_219--doesn't exist on state level

In [2]:
fred = "b98b54e0ff7221aca6e1b161f5b12435"

In [22]:
import urllib.request, json
with urllib.request.urlopen("https://api.stlouisfed.org/fred/series/observations?series_id=LEU0254487900A&api_key=b98b54e0ff7221aca6e1b161f5b12435&file_type=json") as url:
    data=json.loads(url.read().decode())
    print(data['observations'])

[{'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2000-01-01', 'value': '1592'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2001-01-01', 'value': '1658'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2002-01-01', 'value': '1736'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2003-01-01', 'value': '1829'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2004-01-01', 'value': '1800'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2005-01-01', 'value': '1805'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2006-01-01', 'value': '1898'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2007-01-01', 'value': '1965'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2008-01-01', 'value': '2114'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2009-01-01', 'value': '2129'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2010-01-01', 'value': '2177'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2011-01-01', 'value': '2145'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2012-01-01', 'value': '2176'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2013-01-01', 'value': '2278'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2014-01-01', 'value': '2309'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2015-01-01', 'value': '2382'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2016-01-01', 'value': '2498'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2017-01-01', 'value': '2536'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2018-01-01', 'value': '2584'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2019-01-01', 'value': '2640'}, {'realtime_start': '2022-03-30', 'realtime_end': '2022-03-30', 'date': '2020-01-01', 'value': '2701'}]

In [35]:
dataframes = []
for d in data['observations']:
    dataframes.append(pd.DataFrame(d,index=[0]))

In [37]:
df=pd.concat(dataframes).reset_index(drop=True)

In [49]:
df['rns']=df['value'].astype(int)*1000

In [50]:
df

   realtime_start realtime_end        date value      rns
0      2022-03-30   2022-03-30  2000-01-01  1592  1592000
1      2022-03-30   2022-03-30  2001-01-01  1658  1658000
2      2022-03-30   2022-03-30  2002-01-01  1736  1736000
3      2022-03-30   2022-03-30  2003-01-01  1829  1829000
4      2022-03-30   2022-03-30  2004-01-01  1800  1800000
5      2022-03-30   2022-03-30  2005-01-01  1805  1805000
6      2022-03-30   2022-03-30  2006-01-01  1898  1898000
7      2022-03-30   2022-03-30  2007-01-01  1965  1965000
8      2022-03-30   2022-03-30  2008-01-01  2114  2114000
9      2022-03-30   2022-03-30  2009-01-01  2129  2129000
10     2022-03-30   2022-03-30  2010-01-01  2177  2177000
11     2022-03-30   2022-03-30  2011-01-01  2145  2145000
12     2022-03-30   2022-03-30  2012-01-01  2176  2176000
13     2022-03-30   2022-03-30  2013-01-01  2278  2278000
14     2022-03-30   2022-03-30  2014-01-01  2309  2309000
15     2022-03-30   2022-03-30  2015-01-01  2382  2382000
16     2022-03-30   2022-03-30  2016-01-01  2498  2498000
17     2022-03-30   2022-03-30  2017-01-01  2536  2536000
18     2022-03-30   2022-03-30  2018-01-01  2584  2584000
19     2022-03-30   2022-03-30  2019-01-01  2640  2640000
20     2022-03-30   2022-03-30  2020-01-01  2701  2701000

### get state level pop  estimates

In [52]:
state_fips = pd.read_csv("https://gist.githubusercontent.com/dantonnoriega/bf1acd2290e15b91e6710b6fd3be0a53/raw/11d15233327c8080c9646c7e1f23052659db251d/us-state-ansi-fips.csv")

In [54]:
state_fips["code"]=state_fips[' st'].astype(str)

In [55]:
long_fips_states = state_fips[state_fips['code'].str.len()==2]
short_fips_states = state_fips[state_fips['code'].str.len()==1]
short_fips_states["code"]="0"+short_fips_states["code"]

/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_1010/4010135825.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_fips_states["code"]="0"+short_fips_states["code"]

In [56]:
all_state_fips = short_fips_states.append(long_fips_states)

In [57]:
pop_var = 'B01001_001E'
state_codes=all_state_fips["code"]

In [58]:
state_pop_frames = []

for state in state_codes:
    state_pop_frames.append(
    pd.read_json(
    "https://api.census.gov/data/2020/acs/acs5?get=NAME," 
        + pop_var 
        + "&for=state:"
        + str(state)
        +"&key=aa5d6d0fefa3172a9f363636440111d6584a0ac4").assign(state=state))

In [60]:
states_pop=pd.concat(state_pop_frames)

In [ ]:
states_pop.columns=['state','value','fips','fips2']

In [70]:
states_pop_clean=states_pop[states_pop['state']!="NAME"]
states_pop_clean.drop(['fips2'],axis=1).rename(columns={"value": "pop"})

                  state       pop fips
1               Alabama   4893186   01
1                Alaska    736990   02
1               Arizona   7174064   04
1              Arkansas   3011873   05
1            California  39346023   06
1              Colorado   5684926   08
1           Connecticut   3570549   09
1              Delaware    967679   10
1  District of Columbia    701974   11
1               Florida  21216924   12
1               Georgia  10516579   13
1                Hawaii   1420074   15
1                 Idaho   1754367   16
1              Illinois  12716164   17
1               Indiana   6696893   18
1                  Iowa   3150011   19
1                Kansas   2912619   20
1              Kentucky   4461952   21
1             Louisiana   4664616   22
1                 Maine   1340825   23
1              Maryland   6037624   24
1         Massachusetts   6873003   25
1              Michigan   9973907   26
1             Minnesota   5600166   27
1           Mississippi   2981835   28
1              Missouri   6124160   29
1               Montana   1061705   30
1              Nebraska   1923826   31
1                Nevada   3030281   32
1         New Hampshire   1355244   33
1            New Jersey   8885418   34
1            New Mexico   2097021   35
1              New York  19514849   36
1        North Carolina  10386227   37
1          North Dakota    760394   38
1                  Ohio  11675275   39
1              Oklahoma   3949342   40
1                Oregon   4176346   41
1          Pennsylvania  12794885   42
1          Rhode Island   1057798   44
1        South Carolina   5091517   45
1          South Dakota    879336   46
1             Tennessee   6772268   47
1                 Texas  28635442   48
1                  Utah   3151239   49
1               Vermont    624340   50
1              Virginia   8509358   51
1            Washington   7512465   53
1         West Virginia   1807426   54
1             Wisconsin   5806975   55
1               Wyoming    581348   56

In [76]:
oews_raw=pd.read_csv("data/raw/states_rnwages.csv",thousands=',')

In [78]:
oews_raw.columns=oews_raw.columns.str.lower()

In [81]:
rns_emp=oews_raw[['area_title','area','prim_state','tot_emp']]

rns_emp['fips']=rns_emp['area'].astype(str)

/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_1010/1821336954.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rns_emp['fips']=rns_emp['area'].astype(str)

In [89]:
rns_emp.drop(['area'],axis=1)
shortfips_rns=rns_emp[rns_emp['fips'].str.len()==1]
shortfips_rns["fips"]="0"+shortfips_rns["fips"]
longfips_rns=rns_emp[rns_emp['fips'].str.len()==2]
rns_final = shortfips_rns.append(longfips_rns)

/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_1010/3453651646.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shortfips_rns["fips"]="0"+shortfips_rns["fips"]

In [91]:
rns_by_pop=pd.merge(rns_final,states_pop_clean,on="fips",how="left").drop(['area','fips2','state'],axis=1).rename(columns={"value": "pop"})

In [97]:
rns_bypop_clean=rns_by_pop[rns_by_pop['pop'].notnull()]

In [99]:
rns_bypop_clean['pop']=rns_bypop_clean['pop'].astype(int)

/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_1010/3501419374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rns_bypop_clean['pop']=rns_bypop_clean['pop'].astype(int)

In [100]:
rns_bypop_clean['nurses_per1k']=1000*rns_bypop_clean['tot_emp']/rns_bypop_clean['pop']

/var/folders/gg/6wnjn6cd1qlfst8mkw4g4xqc0000gn/T/ipykernel_1010/3159779585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rns_bypop_clean['nurses_per1k']=1000*rns_bypop_clean['tot_emp']/rns_bypop_clean['pop']

In [101]:
rns_bypop_clean.head()

   area_title prim_state  tot_emp fips       pop  nurses_per1k
0     Alabama         AL    48850   01   4893186      9.983271
1      Alaska         AK     6240   02    736990      8.466872
2     Arizona         AZ    55520   04   7174064      7.738989
3    Arkansas         AR    25300   05   3011873      8.400089
4  California         CA   307060   06  39346023      7.804092

In [102]:
from datawrapper import Datawrapper

dw = Datawrapper(access_token='FtIwtvFtoGLaRT9a3gjX69PLu4wSuRyKddoOz6SOPw3k9wWyNICMHTkcPhOGCR5Z')

In [103]:
dw.add_data(chart_id="8jQbs",data=rns_bypop_clean)